{{define "body"}}

Chào mừng {{.Name}}! 

Cảm ơn bạn đã đăng ký tài khoản trên [Tên website]! 

Để kích hoạt tài khoản của bạn, vui lòng truy cập liên kết sau: 

{{.ActivationLink}}

Lưu ý: Liên kết này chỉ có hiệu lực trong [Số giờ] giờ.

-----------------------------------------------------------------

Trân trọng,

[Tên website]

©  All rights reserved.

{{end}}